/* header */
.preview-image .mobile {
  background: #275579 url("../img/laty/bg\ \(8\).jpg");
  background-position: top center;
  background-size: cover;
}

.cd-background-wrapper {
  background: #275579
}
.navigation__center__img {
  border: 1px solid #f4cea2;
}
body {
  background-color: #2D2D2D;
}

.preview-image .cd-floating-background .image-3 {
  left: -5%;
  width: 55%;
  object-position: right;
  height: 90%;
}

.desc-btnscroll {
  left: 52%;
}

.mobile-header {
  position: static;
  padding: 0 1.5rem;
}

.mobile-header h1 {
  padding-top: 7rem;
}


body::before {
  background: url("../img/laty/bg\ \(1\).png") no-repeat center center;
  background-size: cover;
}

.primary-nav__warrior {
  width: 120%;
  height: 55%;
  position: absolute;
  bottom: 0;
  object-position: left top;
  margin-top: 0 !important;
}

.cd-project-info h1 {
  font-size: 5rem;
  padding-bottom: 1.875rem;
}

.cd-project-info p {
  padding-bottom: 1.875rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  z-index: 1000;
}

.cd-project-info h3 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-family: "Monserrat";
  font-weight: 600;
}

#el2 img {
  z-index: 0;
}

.cd-more-info {
  z-index: 1111;
}

@media (min-width: 992px) {
  #el2 #el21 {
    order: 2;
  }
}

/* modal */
.modal-content {
  background: #000 url("../img/laty/bg\ \(1\).png");
  background-size: cover;
  color: #f4cea2;
  padding-bottom: 6rem;
}

.modal .btn-close {
  color: #941307;
}

.modal img {
  padding-top: 4rem;
}

.modal h1 {
  font-size: 2.5rem;
  color: #f4cea2;
  padding-top: 1rem;
}

.modal p {
  padding-top: 2.4rem;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #f4cea2;
}

.modal .btn-close2 {
  position: absolute;
  top: 1rem;
  right: 1rem;
  box-sizing: content-box;
  width: 2em;
  height: 2em;
  padding: 0.25em 0.25em;
  border: 0;
  background: none;
}

.modal .btn-close2 img {
  padding-top: 0;
  object-fit: cover;
}

.point-span {
  position: absolute;
  top: 50%;
  left: 0.25rem;
  width: 2rem;
  border-top: 0.15rem solid #f4cea2;
}

.cd-single-point>a:hover .point-span {
  border-top: 0.15rem solid #286392;
  transition: 0.3s all;
}

.minitext {
  font-size: 0.5rem;
  line-height: 0.75rem;
}

@media (min-width: 992px) {
  .desc-text p {
    line-height: 2vh !important;
    /* font-size: 2vh !important; */
  }

  .preview-image .desc h1 {
    font-size: 7.4vh !important;
  }

  .preview-image .desc-header p {
    font-size: 2vh !important;
  }
}

@media (min-width: 1024px) {


  .preview-image .desc h1 {
    font-size: 9vh !important;
  }

  .desc-text p {
    font-size: 2vh !important;
    line-height: 2.5vh !important;
  }

  .preview-image .desc-header p {
    font-size: 2.5vh !important;
    line-height: 3vh !important;
  }

  .minitext {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
  }
}

@media (min-width: 1400px) {
  .preview-image .desc h1 {
    font-size: 10vh !important;
  }

  .preview-image .desc-header p {
    font-size: 3vh !important;
    line-height: 3.5vh !important;
  }

  .desc-text p {
    line-height: 2.5vh !important;
  }
}

@media (min-width: 1900px) {
  .preview-image .desc h1 {
    font-size: 12vh !important;
  }

  .preview-image .desc-header p {
    font-size: 3vh !important;
    line-height: 3.5vh !important;
  }

  .desc-text p {
    line-height: 2.5vh !important;
  }
}